# Trade analys
In this notebook file are present code to supervise the weekly reports of the category trade analysis of a shop. the reports are in an excel file where in every sheet the sales of the week are written and divided by category. 

Those reports are written every week, the goal of this project is to find an easy and faster way read, manipulate, and supervise the trade.

3 dataframes will be created. first one with the weekly sales of every single product categorized, Second the total weekly sales of each category. and last the total sale of each category.


the first step is importing the module needed for the analysis, import the xlsx file and write the week.

In [ ]:
import pandas as pd
import xlrd
import numpy as np
import matplotlib.pyplot as plt
xls = pd.ExcelFile('Category and Dept Analysis Week 05 2021.xlsx')
week=5

# Create a dataframe with all categories 
Steps:

 1) Imprt the tables.
 
 2) Add a colum to each table where indicate the name of the category.
 
 3) Concat all the table to create a dataframe.
 
 4) clean data (delete na rows)
 
 5) Add columns
 
 6) create the tables

In [7]:
# 1) and 2)
Cheese = pd.read_excel(xls, 'Cheese', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
Cheese['Group']= "Cheese"
Bread = pd.read_excel(xls, 'Bread', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
Bread['Group']= "Bread"
Dairy_Egg = pd.read_excel(xls, 'Dairy and Egg', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
Dairy_Egg['Group']= "Dairy and Egg"
Meat = pd.read_excel(xls, 'Meat and Fish', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Meat['Group']= "Meat and Fish"
Black = pd.read_excel(xls, 'Black Barn', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Black['Group']= "Black Barn"
Fruit = pd.read_excel(xls, 'Fruit and Veg', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Fruit['Group']= "Fruit and Veg"
Patisserie = pd.read_excel(xls, 'Patisserie', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Patisserie['Group']= "Patisserie"
Charcuterie = pd.read_excel(xls, 'Charcuterie', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
Charcuterie['Group']= "Charcuterie"
FTG = pd.read_excel(xls, 'FTG', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
FTG['Group']= "FTG"
Juicesy = pd.read_excel(xls, 'Fresh Juices', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
Juicesy['Group']= "Fresh Juices"
Wine = pd.read_excel(xls, 'Wine Spirits', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Wine['Group']= "Wine Spirits"
Deli = pd.read_excel(xls, 'Deli', index_col= None, skiprows = 5, nrows=250,usecols='A:R')
Deli['Group']= "Deli"
TA_drinks = pd.read_excel(xls, 'Takeaway Drinks', index_col= None, skiprows = 4, nrows=250,usecols='A:R')
TA_drinks['Group']= "TA_drinks"
#-------------------------------------------------------------------------------------------------------------
# 3)

frames = [Cheese, Bread, Dairy_Egg, Meat, Black, Fruit, Patisserie, Charcuterie, FTG, Juicesy, Wine, Deli, TA_drinks]
result = pd.concat(frames)

products= result.dropna(subset = ['SKU', 'Description']) #4)
#5)

products['Initial_MarTY'] = (products['Net £']/products['QTY Sales'])
products['Initial_MarLY'] = (products['Net £.1']/products['QTY Sales.1'])
products['Week']= week
#--------------------------------------------------------------------------------------------------------------------
#6)

sumg = products.groupby(['Group'])['Net £', 'Net £.1', 'Cost £', 'Cost £.1'].sum()
sumg['Wastage%TY'] = (sumg ['Cost £']/(sumg ['Cost £']+ sumg['Net £']) * 100)
sumg['Wastage%LY'] = (sumg ['Cost £.1']/(sumg ['Cost £.1']+ sumg['Net £.1']) * 100)
sumg['Week']= week

#-----------------------------------------------------------------------------------------------------------
tot = sumg.groupby(['Week'])['Net £', 'Net £.1', 'Cost £', 'Cost £.1'].sum()
tot['Wastage%TY'] = (tot ['Cost £']/(tot ['Cost £']+ tot['Net £']) * 100)
tot['Wastage%LY'] = (tot ['Cost £.1']/(tot['Cost £.1']+ tot['Net £.1']) * 100)

#total_NET= result['Net £'].sum()
#total_NETLY= result['Net £.1'].sum()
#total_wast= result['Cost £'].sum()
#total_wastLY= result['Cost £.1'].sum()
#Wastrate =(total_wast/(total_wast + total_NET) * 100)
#WastrateLY =(total_wastLY/(total_wastLY + total_NETLY) * 100)

print(sumg)
print(tot)

                  Net £   Net £.1  Cost £  Cost £.1  Wastage%TY  Wastage%LY  \
Group
Black Barn      5907.97   6332.43   27.62    137.57    0.465329    2.126275
Bread           2432.16   2331.31  228.84     36.76    8.599775    1.552319
Charcuterie     1165.99    957.91   36.42      4.62    3.028917    0.479985
Cheese          3028.54   2621.07   52.11     70.93    1.691526    2.634844
Dairy and Egg   3919.55   4874.14  155.36    113.86    3.812600    2.282678
Deli            4749.09   5581.45   78.20    155.20    1.619957    2.705412
FTG             4883.22    975.01  152.25     55.15    3.023551    5.353537
Fresh Juices    2823.23   3548.08    0.00     49.10    0.000000    1.364958
Fruit and Veg   6827.78   9255.73  508.65    659.28    6.933209    6.649313
Meat and Fish  11656.76  12323.31  501.39    166.24    4.123900    1.331033
Patisserie      3532.98   2860.20   81.55     48.79    2.256172    1.677214
TA_drinks       2847.57   2493.43    1.98     35.81    0.069485    1.415840
Wine Spirits    5638.25   5162.75  753.55     14.39   11.789324    0.277953

               Week
Group
Black Barn        5
Bread             5
Charcuterie       5
Cheese            5
Dairy and Egg     5
Deli              5
FTG               5
Fresh Juices      5
Fruit and Veg     5
Meat and Fish     5
Patisserie        5
TA_drinks         5
Wine Spirits      5
         Net £   Net £.1   Cost £  Cost £.1  Wastage%TY  Wastage%LY
Week
5     59413.09  59316.82  2577.92    1547.7    4.158538    2.542861

C:\Users\francesco\anaconda\lib\site-packages\ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\francesco\anaconda\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\francesco\anaconda\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

# Save the tables in csv files
the three new tables create are saved in three different csv files for future analysis.

In [ ]:
file = open("products_list2021.csv", "a")
products.to_csv('products_list2021.csv', mode='a', header=False)
file.close()

In [ ]:
file2 = open("sumg.csv", "a")
sumg.to_csv('sumg.csv', mode='a', header=False)
file2.close()

In [ ]:
file3 = open("tot.csv", "a")
tot.to_csv('tot.csv', mode='a', header=False)
file3.close()

# Checking the save
Read the csv file if everything was correct

In [3]:
category = pd.read_csv('products_list2021.csv', encoding = "ISO-8859-1")
category=pd.DataFrame(category)
category.columns
print(category)

        Group         SKU                          Description   QTY Sales  \
0      Cheese  02030707/0  GRUYERE WHOLE WHEEL                       6.280
1      Cheese  02100208/0  DISC DC SINGLE GLOUCESTER                 0.000
2      Cheese  02100308/0  DC DOUBLE GLOUCESTER                      1.288
3      Cheese  02135509/0  DC ADLESTROP                              2.116
4      Cheese  02155710/0  DC BAYWELL CHEESE                         1.734
5      Cheese  02208711/0  DC BLUE CHEESE                            1.716
6      Cheese  02219311/0  DC BLEDINGTON BLUE CHEESE                 0.826
7      Cheese  02239712/0  CORNISH YARG                              5.858
8      Cheese  02250312/0  FIG & ALMOND WHEEL                        0.000
9      Cheese  02262913/0  BRIE DE MEAUX                             3.448
10     Cheese  02263013/0  COMTE                                     6.296
11     Cheese  02284514/0  HOMEWOOD FARM HELLO EWE HALLOUMI          2.410
12     Cheese  02326815/0  MOLITERNO WITH TRUFFLE                    4.110
13     Cheese  02345315/0  QUINCE CHEESE KG                          0.348
14     Cheese  02345415/0  DISC DAMSON CHEESE KG                     0.000
15     Cheese  02354516/0  RACHEL KG                                 2.736
16     Cheese  02366617/0  CROPWELL BISHOP STILTON                   0.000
17     Cheese  10001560/0  DC BAYWELL CHEESE 180G                    8.000
18     Cheese   1003339/0  WIGMORE                                   2.186
19     Cheese   1003343/0  DC ORGANIC CHEDDAR                        6.264
20     Cheese   1003344/0  DC GREEK STYLE CHEESE                     1.274
21     Cheese   1003383/0  GORGONZOLA DOLCE                          0.828
22     Cheese   1007420/0  DN TRUFFLE BRIE                           3.534
23     Cheese   1009052/0  VILLEREJO MANCHEGO CHEESE                 9.536
24     Cheese  12008820/0  BURRATA                                  25.000
25     Cheese  14003160/0  HOMEWOOD FARM EWES SOFT CHEESE            4.000
26     Cheese  14021430/0  DN WINDRUSH GOATS CHEESE                 22.000
27     Cheese  14021450/0  DN WINDRUSH GARLIC & HERB CHEESE         13.000
28     Cheese  16025230/0  ORGANIC RICOTTA 250G                      6.000
29     Cheese  17022010/0  BUFFALO MOZZARELLA 250G                  33.000
..        ...         ...                                  ...         ...
73       Deli  21018680/0  WHITE RABBIT GARLICKY FOCACCINE           3.000
0   TA_drinks  10012640/1  T/A FLAT WHITE                          166.000
1   TA_drinks   1004100/1  T/A ESPRESSO                             38.000
2   TA_drinks   1004200/1  T/A EARL GREY TEA                         8.000
3   TA_drinks   1004585/0  TAKEAWAY TEA                             13.000
4   TA_drinks   1008080/1  T/A AMERICANO                           128.000
5   TA_drinks   1009014/1  T/A MACCHIATO                            11.000
6   TA_drinks   1009504/1  T/A CAPPUCCINO                          208.000
7   TA_drinks   1009506/1  T/A LATTE                               190.000
8   TA_drinks   1009508/1  T/A MOCHA                                 6.000
9   TA_drinks   1009510/0  T/A HOT CHOCOLATE                        19.000
10  TA_drinks  13010140/1  T/A PICCOLO                               5.000
11  TA_drinks  16016540/1  T/A MATCHA LATTE                         35.000
12  TA_drinks  16024780/1  T/A GOLDEN MILK                           9.000
13  TA_drinks  17018180/1  T/A CHAI LATTE                           24.000
14  TA_drinks  17030240/1  T/A DRAGONWELL TEA                        7.000
15  TA_drinks  17030270/1  T/A DREAMTIME TEA                         5.000
16  TA_drinks  17030310/1  T/A CLARITY TEA                           4.000
17  TA_drinks  17030320/1  T/A SPIRIT TEA                            1.000
18  TA_drinks   1004586/0  TAKEAWAY JUICE SMALL                      3.000
19  TA_drinks  17030290/1  T/A DIGEST TEA                            8.000
20  TA_drinks  17030280/1  T/A RADIANCE TEA                          1.000
21  TA_drinks  10009820/1  T/A GINGER LEMON TEA                      1.000
22  TA_drinks  17030210/1  T/A MASALA CHIA TEA                       8.000
23  TA_drinks   1004112/1  T/A EXTRA SHOT                           36.000
24  TA_drinks  10017520/0  MULLED WINE TAKEAWAY                      0.000
25  TA_drinks  17021890/0  TAKEAWAY ORANGE JUICE                    28.000
26  TA_drinks  14002230/0  FRESH JUICE (250ml)                      19.000
27  TA_drinks  20416519/0  T/A B SEASONAL JUIC BULK                  4.000
28  TA_drinks  20416619/0  T/A CELERY JUICE BULK EACH                0.000

     Net £   QTY Waste  Cost £   Transf Out QTY   QTY On Order   QTY Sales.1  \
0   274.56       0.000    0.00              0.0           0.00         4.562
1     0.00       0.000    0.00              0.0           0.00         1.904
2    31.69       0.394    4.11              0.0           0.00         1.486
3    63.48       0.000    0.00              0.0           0.00         3.182
4    48.56       0.000    0.00              0.0           4.68         0.000
5    48.03       0.154    1.76              0.0           5.00         2.588
6    23.13       0.780    9.14              0.0           0.00         0.702
7   187.45       0.000    0.00              0.0           0.00         2.148
8     0.00       0.000    0.00              0.0           0.00         0.236
9    99.25       0.568    8.35              0.0           3.00         0.000
10  249.68       0.476    8.53              0.0          10.00         7.098
11   65.07       0.000    0.00              0.0           2.40         4.220
12  246.60       0.000    0.00              0.0           5.50         2.874
13   12.53       0.000    0.00              0.0           0.00         0.816
14    0.00       0.000    0.00              0.0           0.00         0.000
15  106.43       0.238    4.74              0.0           5.00         2.076
16    0.00       0.000    0.00              0.0           0.00         0.530
17   39.92       0.000    0.00              0.0           0.00         7.000
18   83.05       0.000    0.00              0.0           1.00         1.184
19  187.92       0.000    0.00              0.0          10.00         6.476
20   31.85       0.000    0.00              0.0           2.00         0.000
21   18.25       0.000    0.00              0.0           0.00         0.000
22  173.22       1.238   20.94              0.0           0.00         0.000
23  284.53       0.000    0.00              0.0          12.00         4.444
24  167.75       0.000    0.00              0.0          36.00        16.000
25   15.96       0.000    0.00              0.0           8.00         9.000
26  103.78       2.000    4.98              0.0          16.00        27.000
27   63.37       0.000    0.00              0.0           6.00         9.000
28   23.94       0.000    0.00              0.0          12.00        12.000
29  230.67       0.000    0.00              0.0          36.00        18.000
..     ...         ...     ...              ...            ...           ...
73   14.97       0.000    0.00              0.0           8.00         0.000
0   483.20       0.000    0.00              0.0           0.00       181.000
1    87.02       0.000    0.00              0.0           0.00        55.000
2    23.36       0.000    0.00              0.0           0.00         0.000
3    37.96       0.000    0.00              0.0           0.00         9.000
4   320.00       0.000    0.00              0.0           0.00       117.000
5    25.19       0.000    0.00              0.0           0.00        20.000
6   607.25       0.000    0.00              0.0           0.00       194.000
7   554.71       0.000    0.00              0.0           0.00       180.000
8    19.98       0.000    0.00              0.0           0.00         8.000
9    62.86       0.000    0.00              0.0           0.00        18.000
10   12.50       0.000    0.00              0.0           0.00         1.000
11  131.25       0.000    0.00              0.0           0.00        19.000
12   37.53       0.000    0.00              0.0           0.00         0.000
13   90.00       0.000    0.00              0.0           0.00         0.000
14   23.31       0.000    0.00              0.0           0.00         2.000
15   16.65       0.000    0.00              0.0           0.00         1.000
16   13.32       0.000    0.00              0.0           0.00         0.000
17    3.33       0.000    0.00              0.0           0.00         2.000
18   11.25       0.000    0.00              0.0           0.00         5.000
19   26.64       0.000    0.00              0.0           0.00         1.000
20    3.33       0.000    0.00              0.0           0.00         3.000
21    2.92       0.000    0.00              0.0           0.00         2.000
22   26.64       0.000    0.00              0.0           0.00         0.000
23   15.12       0.000    0.00              0.0           0.00        21.000
24    0.00       0.000    0.00              0.0           0.00         0.000
25   93.25       2.000    1.98              0.0           0.00         6.000
26   95.00       0.000    0.00              0.0           0.00        18.000
27   24.00       0.000    0.00              0.0           0.00         4.000
28    0.00       0.000    0.00              0.0           0.00         3.000

    ...   QTY Waste.1   Cost £.1   Transf Out QTY.1   £ % vs LY  QTY % vs LY  \
0   ...         0.608      12.10                0.0    0.559468     0.376589
1   ...         0.302       3.62                0.0   -1.000000    -1.000000
2   ...         0.000       0.00                0.0   -0.190342    -0.133244
3   ...         0.154       1.85                0.0   -0.335009    -0.335009
4   ...         0.000       0.00                0.0         NaN          NaN
5   ...         0.000       0.00                0.0   -0.337152    -0.336940
6   ...         0.000       0.00                0.0    0.176501     0.176638
7   ...         0.950      15.45                0.0    2.080526     1.727188
8   ...         0.568       7.03                0.0   -1.000000    -1.000000
9   ...         0.000       0.00                0.0         NaN          NaN
10  ...         0.570      10.21                0.0   -0.001280    -0.112990
11  ...         0.000       0.00                0.0   -0.387980    -0.428910
12  ...         0.348       9.73                0.0    0.588610     0.430063
13  ...         0.000       0.00                0.0   -0.573229    -0.573529
14  ...         0.000       0.00                0.0         NaN          NaN
15  ...         0.000       0.00                0.0    0.386529     0.317919
16  ...         0.000       0.00                0.0   -1.000000    -1.000000
17  ...         0.000       0.00                0.0    0.142857     0.142857
18  ...         0.000       0.00                0.0    0.846376     0.846284
19  ...         0.000       0.00                0.0    0.050126    -0.032736
20  ...         0.000       0.00                0.0         NaN          NaN
21  ...         0.000       0.00                0.0         NaN          NaN
22  ...         0.000       0.00                0.0         NaN          NaN
23  ...         0.000       0.00                0.0    1.134188     1.145815
24  ...         0.000       0.00                0.0    0.548366     0.562500
25  ...         0.000       0.00                0.0   -0.555556    -0.555556
26  ...         0.000       0.00                0.0   -0.229719    -0.185185
27  ...         0.000       0.00                0.0    0.494223     0.444444
28  ...         0.000       0.00                0.0   -0.500000    -0.500000
29  ...         0.000       0.00                0.0    0.833333     0.833333
..  ...           ...        ...                ...         ...          ...
73  ...         0.000       0.00                0.0         NaN          NaN
0   ...         0.000       0.00                0.0   -0.084294    -0.082873
1   ...         0.000       0.00                0.0   -0.309091    -0.309091
2   ...         0.000       0.00                0.0         NaN          NaN
3   ...         0.000       0.00                0.0    0.444444     0.444444
4   ...         0.000       0.00                0.0    0.095590     0.094017
5   ...         0.000       0.00                0.0   -0.450000    -0.450000
6   ...         0.000       0.00                0.0    0.072046     0.072165
7   ...         0.000       0.00                0.0    0.055404     0.055556
8   ...         0.000       0.00                0.0   -0.250000    -0.250000
9   ...         0.000       0.00                0.0    0.048715     0.055556
10  ...         0.000       0.00                0.0    4.000000     4.000000
11  ...         0.000       0.00                0.0    0.842105     0.842105
12  ...         0.000       0.00                0.0         NaN          NaN
13  ...         0.000       0.00                0.0         NaN          NaN
14  ...         0.000       0.00                0.0    2.735577     2.500000
15  ...         0.000       0.00                0.0    4.000000     4.000000
16  ...         0.000       0.00                0.0         NaN          NaN
17  ...         0.000       0.00                0.0   -0.500000    -0.500000
18  ...        17.000      19.04                0.0   -0.400000    -0.400000
19  ...         0.000       0.00                0.0    7.000000     7.000000
20  ...         0.000       0.00                0.0   -0.666667    -0.666667
21  ...         0.000       0.00                0.0   -0.500000    -0.500000
22  ...         0.000       0.00                0.0         NaN          NaN
23  ...         0.000       0.00                0.0    0.714286     0.714286
24  ...         0.000       0.00                0.0         NaN          NaN
25  ...        11.000      10.89                0.0    2.110407     3.666667
26  ...         6.000       5.88                0.0    0.075391     0.055556
27  ...         0.000       0.00                0.0    0.000000     0.000000
28  ...         0.000       0.00                0.0   -1.000000    -1.000000

     £ vs LY   WASTAGE   Initial_MarTY   Initial_MarLY  Week
0      98.50  0.000000       43.719745       38.592722   1.0
1     -53.31       NaN             NaN       27.998950   1.0
2      -7.45  0.129694       24.604037       26.339166   1.0
3     -31.98  0.000000       30.000000       30.000000   1.0
4      48.56  0.000000       28.004614             NaN   1.0
5     -24.43  0.036644       27.989510       27.998454   1.0
6       3.47  0.395158       28.002421       28.005698   1.0
7     126.60  0.000000       31.998976       28.328678   1.0
8      -6.25       NaN             NaN       26.483051   1.0
9      99.25  0.084131       28.784803             NaN   1.0
10     -0.32  0.034164       39.656925       35.221189   1.0
11    -41.25  0.000000       27.000000       25.194313   1.0
12     91.37  0.000000       60.000000       54.011830   1.0
13    -16.83  0.000000       36.005747       35.980392   1.0
14      0.00       NaN             NaN             NaN   1.0
15     29.67  0.044536       38.899854       36.974952   1.0
16    -14.84       NaN             NaN       28.000000   1.0
17      4.99  0.000000        4.990000        4.990000   1.0
18     38.07  0.000000       37.991766       37.989865   1.0
19      8.97  0.000000       30.000000       27.632798   1.0
20     31.85  0.000000       25.000000             NaN   1.0
21     18.25  0.000000       22.041063             NaN   1.0
22    173.22  0.120887       49.015280             NaN   1.0
23    151.21  0.000000       29.837458       30.000000   1.0
24     59.41  0.000000        6.710000        6.771250   1.0
25    -19.95  0.000000        3.990000        3.990000   1.0
26    -30.95  0.047986        4.717273        4.990000   1.0
27     20.96  0.000000        4.874615        4.712222   1.0
28    -23.94  0.000000        3.990000        3.990000   1.0
29    104.85  0.000000        6.990000        6.990000   1.0
..       ...       ...             ...             ...   ...
73       NaN       NaN        4.990000             NaN   5.0
0     -44.48  0.000000        2.910843        2.915359   5.0
1     -38.93  0.000000        2.290000        2.290000   5.0
2      23.36  0.000000        2.920000             NaN   5.0
3      11.68  0.000000        2.920000        2.920000   5.0
4      27.92  0.000000        2.500000        2.496410   5.0
5     -20.61  0.000000        2.290000        2.290000   5.0
6      40.81  0.000000        2.919471        2.919794   5.0
7      29.12  0.000000        2.919526        2.919944   5.0
8      -6.66  0.000000        3.330000        3.330000   5.0
9       2.92  0.000000        3.308421        3.330000   5.0
10     10.00  0.000000        2.500000        2.500000   5.0
11     60.00  0.000000        3.750000        3.750000   5.0
12     37.53  0.000000        4.170000             NaN   5.0
13     90.00  0.000000        3.750000             NaN   5.0
14     17.07  0.000000        3.330000        3.120000   5.0
15     13.32  0.000000        3.330000        3.330000   5.0
16     13.32  0.000000        3.330000             NaN   5.0
17     -3.33  0.000000        3.330000        3.330000   5.0
18     -7.50  0.000000        3.750000        3.750000   5.0
19     23.31  0.000000        3.330000        3.330000   5.0
20     -6.66  0.000000        3.330000        3.330000   5.0
21     -2.92  0.000000        2.920000        2.920000   5.0
22     26.64  0.000000        3.330000             NaN   5.0
23      6.30  0.000000        0.420000        0.420000   5.0
24      0.00       NaN             NaN             NaN   5.0
25     63.27  0.021233        3.330357        4.996667   5.0
26      6.66  0.000000        5.000000        4.907778   5.0
27      0.00  0.000000        6.000000        6.000000   5.0
28    -18.00       NaN             NaN        6.000000   5.0

[4870 rows x 21 columns]

In [4]:
group=category.loc[category["Group"]== "Cheese"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("1 cheese " )
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Bread"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("2 bread" )
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Dairy and Egg"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("3 eggs ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Meat and Fish"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("4 meat ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Black Barn"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("5 black barn ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Fruit and Veg"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("6 fruit" )
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Patisserie"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("7 patisserie ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Charcuterie"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("8 charcutery ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "FTG"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("9 ftg ")
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Fresh Juices"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("10 juice" )
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Wine Spirits"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("11 wine " )
print(top_net)
#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "Deli"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("12 deli " )
print(top_net)

#------------------------------------------------------------------------------------------------------
group=category.loc[category["Group"]== "TA_drinks"]
group = pd.DataFrame(group)
#group = group.sort_values(by = ' Net £', axis =0, ascending= False, na_position= "last")
top_net= group.tail(3)[[' Description',' Net £', 'Week']]#top 5 sales
print("13 TA_drinks" )
print(top_net)

1 cheese
                            Description   Net £  Week
50  NETTLE VEGAN NEWINGTON BLUE CHEESE    25.98   5.0
51  ORGANIC PARMESAN 24 MONTHS KG P        0.00   5.0
52  BURRATA                                0.00   5.0
2 bread
                            Description   Net £  Week
34  DO SOURDOUGH STARTER: LEAVEN           0.00   5.0
35  DO SEED & CHILLI OLIVE OIL CRACKERS  143.64   5.0
36  DBK SLICED 7 SEED SOURDOUGH            0.00   5.0
3 eggs
                            Description   Net £  Week
47  DO STRAWB & RHUBARB YOGHURT 450ML     94.75   5.0
48  DO VANILLA CUSTARD DEL                23.94   5.0
49  DC UNSALTED BUTTER                     0.00   5.0
4 meat
                             Description   Net £  Week
196  PORK BACK FAT FOR SAUSAGE ORG          0.00   5.0
197  DBT BEEF SHORT RIBS                    0.00   5.0
198  DBT CHICKEN THIGH BONE IN             32.59   5.0
5 black barn
                            Description   Net £  Week
42  DO CARROT & GINGER SOUP DEL           42.89   5.0
43  DO VENISON RAGU DEL                    8.35   5.0
44  DO SWEET POTATO SOUP W/ CHILLI DEL     8.78   5.0
6 fruit
                             Description   Net £  Week
154  TW MIXED WILD SALAD                    4.58   5.0
155  DMG CHERVIL BUNCH                      0.00   5.0
156  DMG NETTLE BAG                        33.61   5.0
7 patisserie
                            Description   Net £  Week
64  DO RASPBERRY BAKEWELL TRAY           140.40   5.0
65  DO HOT CROSS SCONE                     2.98   5.0
66  DO RASPB CURRANT & APPL CRUMBLE DEL   12.51   5.0
8 charcutery
                            Description   Net £  Week
17  HELEN BROWNING SMOKED COOK CHORIZO     0.00   5.0
18  DO PORCHETTA KG                        4.48   5.0
19  OSSOCOLLO COPPA                        0.00   5.0
9 ftg
                            Description   Net £  Week
54  FTG HOUSE DRESSING                     5.58   5.0
55  disc DELI OPEN PLU                    12.43   5.0
56  FRUIT AND VEGETABLES OPEN PLU         42.97   5.0
10 juice
                            Description   Net £  Week
76  MARGARITA for 2                       23.34   5.0
77  LRG CHAI LATTE                         3.81   5.0
78  ESPRESSO MARTINI for 2                10.00   5.0
11 wine
                             Description   Net £  Week
106  DO FORAGER CIDER 500ML DEL            19.45   5.0
107  TAP SOCIAL LAGER DEL                   4.16   5.0
108  UNCOMMON ROSE WINE SPRITZER DEL        6.95   5.0
12 deli
                            Description   Net £  Week
71  PALACE CULTURE CHIVES CHEESE           0.00   5.0
72  DO MUSHROOM & TRUFFLE PATE            31.96   5.0
73  WHITE RABBIT GARLICKY FOCACCINE       14.97   5.0
13 TA_drinks
                            Description   Net £  Week
26  FRESH JUICE (250ml)                    95.0   5.0
27  T/A B SEASONAL JUIC BULK               24.0   5.0
28  T/A CELERY JUICE BULK EACH              0.0   5.0

In [55]:
category = pd.read_csv('sumg.csv', encoding = "ISO-8859-1")
category=pd.DataFrame(category)
category.columns
print(category)

            Group     Net £   Net £.1   Cost £   Cost £.1   Wastage%TY  \
0      Black Barn   6000.68   7279.22    40.30    1642.56     0.667110
1           Bread   2879.23   2323.83    68.40      72.19     2.320508
2     Charcuterie   1804.50   1071.07    15.33     132.35     0.842386
3          Cheese   3736.00   2878.52    77.97     130.84     2.044327
4   Dairy and Egg   4202.56   5558.58   204.28     135.05     4.635521
5            Deli   5583.56   4118.91    82.54     260.83     1.456734
6             FTG   6264.30    981.69   462.63     104.25     6.877283
7    Fresh Juices   2100.71   2576.45    37.33     525.55     1.745992
8   Fruit and Veg   7439.01   8813.75   311.73     378.93     4.021939
9   Meat and Fish  14884.89   9081.22   888.71     223.17     5.634161
10     Patisserie   3297.16   2935.01    29.90     859.88     0.898691
11      TA_drinks   2909.33     10.41     0.00       0.00     0.000000
12   Wine Spirits   7771.14   4253.85     0.00       7.20     0.000000
13     Black Barn   5821.11   3530.01    42.26     136.20     0.720746
14          Bread   1915.71   1791.28   303.95     186.53    13.693539
15    Charcuterie    965.62   1122.23    47.31       9.50     4.670609
16         Cheese   6325.18   5469.27  1269.42     573.37    16.714771
17  Dairy and Egg   3689.64   3487.77  1021.56     324.68    21.683647
18           Deli   3961.79   4798.60   735.89     503.52    15.664967
19            FTG   3260.25   3866.27   148.25     432.98     4.349421
20   Fresh Juices   1524.35   2005.57    68.30      98.64     4.288450
21  Fruit and Veg   5716.00   5401.04   444.73     355.54     7.218787
22  Meat and Fish   8666.35   8053.92   930.07     432.17     9.691843
23     Patisserie   2386.55   3307.46   145.02     935.21     5.728461
24      TA_drinks   2271.00   2020.09     0.00       0.00     0.000000
25   Wine Spirits   5908.33   2411.81     7.52      18.92     0.127116
26     Black Barn   5629.76   6540.25    33.78      62.91     0.596447
27          Bread   2179.92   2469.55   103.86     132.86     4.547724
28    Charcuterie   1209.64   1538.72    32.64      99.53     2.627427
29         Cheese   2637.12   2869.92   125.49     196.85     4.542444
..            ...       ...       ...      ...        ...          ...
35  Meat and Fish   9198.66  11236.92   687.33     139.16     6.952566
36     Patisserie   3146.93   3183.68   225.38      67.09     6.683253
37      TA_drinks   2629.80   1657.95     0.00       0.00     0.000000
38   Wine Spirits   5804.12   4979.49   301.03       2.60     4.930755
39     Black Barn   4763.72   5141.59    19.02     229.97     0.397680
40          Bread   2373.12   2591.44    78.57      61.33     3.204728
41    Charcuterie   1009.50   1671.41    38.85      74.68     3.705823
42         Cheese   2478.51   3059.00   112.11     134.91     4.327535
43  Dairy and Egg   3666.58   5312.72    68.09     112.55     1.823187
44           Deli   5436.54   5873.97   229.40     279.13     4.048754
45            FTG   5510.57   1674.00    97.85      27.36     1.744698
46   Fresh Juices   3413.61   3386.62    93.04      39.42     2.653245
47  Fruit and Veg   6979.06   9151.09   299.84     678.75     4.119304
48  Meat and Fish  10282.78  12547.17   643.16      95.70     5.886542
49     Patisserie   3381.44   3005.42    81.85      42.95     2.363360
50      TA_drinks   2755.94   2399.38     0.00       0.00     0.000000
51   Wine Spirits   6182.72   5247.70    14.03       4.77     0.226409
52     Black Barn   5907.97   6332.43    27.62     137.57     0.465329
53          Bread   2432.16   2331.31   228.84      36.76     8.599775
54    Charcuterie   1165.99    957.91    36.42       4.62     3.028917
55         Cheese   3028.54   2621.07    52.11      70.93     1.691526
56  Dairy and Egg   3919.55   4874.14   155.36     113.86     3.812600
57           Deli   4749.09   5581.45    78.20     155.20     1.619957
58            FTG   4883.22    975.01   152.25      55.15     3.023551
59   Fresh Juices   2823.23   3548.08     0.00      49.10     0.000000
60  Fruit and Veg   6827.78   9255.73   508.65     659.28     6.933209
61  Meat and Fish  11656.76  12323.31   501.39     166.24     4.123900
62     Patisserie   3532.98   2860.20    81.55      48.79     2.256172
63      TA_drinks   2847.57   2493.43     1.98      35.81     0.069485
64   Wine Spirits  12403.18   5690.26   754.57      14.39     5.734795

     Wastage%LY  Week
0     18.410676     1
1      3.012913     1
2     10.997823     1
3      4.347768     1
4      2.371949     1
5      5.955376     1
6      9.599978     1
7     16.942295     1
8      4.122084     1
9      2.398545     1
10    22.658891     1
11     0.000000     1
12     0.168972     1
13     3.715008     2
14     9.431138     2
15     0.839423     2
16     9.488733     2
17     8.516308     2
18     9.496579     2
19    10.071059     2
20     4.687745     2
21     6.176237     2
22     5.092687     2
23    22.042959     2
24     0.000000     2
25     0.778367     2
26     0.952726     3
27     5.105268     3
28     6.075385     3
29     6.418805     3
..          ...   ...
35     1.223268     3
36     2.063819     3
37     0.000000     3
38     0.052187     3
39     4.281252     4
40     2.311923     4
41     4.276985     4
42     4.223976     4
43     2.074551     4
44     4.536413     4
45     1.608125     4
46     1.150600     4
47     6.904995     4
48     0.756948     4
49     1.408950     4
50     0.000000     4
51     0.090814     4
52     2.126275     5
53     1.552319     5
54     0.479985     5
55     2.634844     5
56     2.282678     5
57     2.705412     5
58     5.353537     5
59     1.364958     5
60     6.649313     5
61     1.331033     5
62     1.677214     5
63     1.415840     5
64     0.252250     5

[65 rows x 8 columns]

In [56]:
category = pd.read_csv('tot.csv', encoding = "ISO-8859-1")
category=pd.DataFrame(category)
category.columns
print(category)

   Week     Net £   Net £.1   Cost £   Cost £.1   Wastage%TY   Wastage%LY
0     1  68873.07  51882.51  2219.12    4472.80     3.121468     7.936785
1     2  52411.88  47265.32  5164.28    4007.26     8.969476     7.815600
2     3  56853.20  56735.22  2517.65    1486.15     4.240549     2.552585
3     4  58234.09  61061.51  1775.81    1781.52     2.959195     2.834873
4     5  66178.02  59844.33  2578.94    1547.70     3.750806     2.521011